:root {
    --bg-dark: #161512;
    --bg-panel: #262421;
    --text-color: #bababa;
    --highlight: #3692e7;
    --board-border: #3c3b39;
    --selected-square: rgba(30, 71, 52, 0.911);
}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--bg-panel);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 5);
    position: relative; 
}

#myBoard {
    width: 500px;
}

.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.player-info {
    padding: 10px;
    background: #302e2c;
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.moves-container {
    flex-grow: 1;
    background: #5a4232;
    overflow-y: auto;
    height: 350px;
    border: 1px solid var(--board-border);
    margin: 10px 0;
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #ccc;
}

.controls {
    display: flex;
    gap: 5px;
}

button {
    background: #363431;
    color: #b0b0b0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    flex-grow: 1;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #454340;
    color: #fff;
}

button.primary {
    background-color: var(--highlight);
    color: white;
}

.status {
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    background: #222;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border-left: 4px solid var(--highlight);
}

.hidden { display: none !important; }

#promotion-dialog {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 5px;
}

.promotion-content {
    background: #302e2c;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--highlight);
}

.promo-options button {
    font-size: 18px;
    margin: 5px;
    width: 120px;
}

.highlight-selected {
    box-shadow: inset 0 0 3px 3px yellow !important;
}

.square-55d63 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hint-circle {
    width: 18px;
    height: 18px;
    background: rgba(37, 126, 107, 0.644);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}

.hint-square {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
}